<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Include following permission if you want to get images from SD card -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Include following permission if you want to read anything from storage -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--getting the wifi state permission -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chefood"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chefood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
<!--START facebook login-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:icon="@drawable/chefood"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--END facebook login-->

        <activity android:name=".search.SearchActivity" />
        <activity android:name=".post.AddPostActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".user_profile.UserProfileActivity" />
        <activity android:name=".likes.LikePostActivity" />
        <activity android:name=".user_profile.AccountSettingsActivity" />
        <!--<activity android:name=".login.LoginActivity"/>-->
        <activity android:name=".post.NextActivity"/>
        <activity android:name=".welcomingSlides.SlidesActivity"/>
        <activity android:name=".login.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<action android:name="android.intent.action.Login" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>